<p-toolbar class="py-4">
  <ng-template #start>
    <div class="pr-6" style="cursor: pointer" (click)="this.router.navigate(['backlog'])">PLC Testbench :)</div>
    <div class="flex gap-1 items-center">
      <p-button
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        text
        severity="primary"
        size="small"
        (click)="this.router.navigate(['run-configurator'])"
      />
      <p-button
        label="History"
        icon="pi pi-history"
        class="mr-2"
        text
        severity="secondary"
        size="small"
        (click)="this.router.navigate(['backlog'])"
      />
    </div>
  </ng-template>
  <ng-template #center></ng-template>
  <ng-template #end>
    <button (click)="toggleDarkMode()">
      <i *ngIf="!isDarkMode" class="pi pi-sun"></i>
      <i *ngIf="isDarkMode" class="pi pi-moon"></i>
    </button>
  </ng-template>
</p-toolbar>
