<div class="">
  <div class="py-4">
    <ng-container *ngIf="trackGroups && trackGroups.length > 0; else trackSelectSkeleton">
      <p-cascadeselect
        [ngModel]="selectedTrack"
        (onChange)="onTrackChange($event.value)"
        [options]="$any(trackGroups)"
        optionLabel="name"
        optionGroupLabel="originalTrack"
        [optionGroupChildren]="['reconstructedTracks']"
        [style]="{ minWidth: '14rem' }"
        placeholder="Select a track"
      />
    </ng-container>
  </div>
  <div>
    <plc-wavesurfer-wrapper></plc-wavesurfer-wrapper>
  </div>

  <div style="width: 100%; height: 240px; margin-top: 1rem">
    <ng-container *ngFor="let metric of metrics; let i = index">
      <canvas #analysisCharts [attr.id]="'analysisChart' + i"></canvas>
    </ng-container>
  </div>
</div>

<ng-template #trackSelectSkeleton>
  <p-skeleton width="auto" height="2.5rem"></p-skeleton>
</ng-template>
