<div class="mx-auto text-center text-2xl">
  <h1>{{ analysisService.run.value?.name }}</h1>
</div>
<div class="w-full">
  <div class="py-4">
    @if (analysisService.trackGroups.value && analysisService.trackGroups.value.length > 0) {
      <div class="flex flex-row items-center justify-center w-full gap-3">
        <div class="w-2/4">
          <p-cascadeselect
            [ngModel]="analysisService.selectedTrackPlayback.value"
            (ngModelChange)="analysisService.selectedTrackPlayback.next($event)"
            [options]="$any(analysisService.trackGroups.value)"
            optionLabel="name"
            optionGroupLabel="originalTrack"
            [optionGroupChildren]="['reconstructedTracks']"
            styleClass="w-full"
            placeholder="Select a track"
          />
        </div>
        <p-button
          type="button"
          [rounded]="true"
          severity="secondary"
          icon="pi pi-info-circle"
          size="small"
          (click)="infoDrawerVisible = true"
        />
      </div>
    } @else {
      <p-skeleton width="auto" height="2.5rem"></p-skeleton>
    }
  </div>

  <div>
    <plc-wavesurfer-wrapper></plc-wavesurfer-wrapper>
  </div>

  <p-accordion [value]="activePanels" [multiple]="true">
    <p-accordion-panel [value]="AccordionPanels.ZOOM_LENS">
      <p-accordion-header>Zoom Lens</p-accordion-header>
      <p-accordion-content>
        @if (analysisService.selectedPacketBounds.value && analysisService.selectedPacketBounds.value.length > 0) {
          <plc-zoom-lens></plc-zoom-lens>
        } @else {
          <p>Select a packet for analysis</p>
        }
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel [value]="AccordionPanels.METRICS">
      <p-accordion-header>Metrics</p-accordion-header>
      <p-accordion-content>
        <plc-metrics></plc-metrics>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel [value]="AccordionPanels.SPECTROGRAM">
      <p-accordion-header>Spectrogram</p-accordion-header>
      <p-accordion-content>
        @if (!isSpectrogramReady) {
          <p-skeleton height="400px"></p-skeleton>
        }
        <div #spectrogram id="wave-spectrogram"></div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>

@if (this.sampleMasks && this.sampleMasks.length > 0) {
  <p-drawer header="Module Parameters" [(visible)]="infoDrawerVisible" position="right">
    <div class="p-4">
      <h3 class="text-lg font-semibold mb-4">
        {{ sampleMasks[analysisService.selectedSampleMaskIndex.value].name.split('.')[0] }}
      </h3>

      <div class="space-y-3">
        @for (param of sampleMasksParametersArray[analysisService.selectedSampleMaskIndex.value]; track param) {
          <div class="bg-gray-50 dark:bg-gray-800 p-3 rounded-lg">
            <div class="flex justify-between items-center">
              <span class="font-medium">
                {{ param }}
              </span>
              <span class="text-sm">
                {{
                  analysisService.sampleMaskParameters.value[analysisService.selectedSampleMaskIndex.value][param] ??
                    'null'
                }}
              </span>
            </div>
          </div>
        }
      </div>
    </div>

    @if (
      analysisService.selectedTrackPlayback.value &&
      analysisService.selectedTrackPlayback.value.name.split('.')[0].split('/').length > 1
    ) {
      <div class="p-4">
        <h3 class="text-lg font-semibold mb-4">
          {{ analysisService.selectedTrackPlayback.value | reconstructedTrackLabel }}
        </h3>

        <div class="space-y-3">
          @for (param of plcAlgothmParametersArray[selectedTrackIndex]; track param) {
            <div class="bg-gray-50 dark:bg-gray-800 p-3 rounded-lg">
              <div class="flex justify-between items-center">
                <span class="font-medium">
                  {{ param }}
                </span>
                <span class="text-sm">
                  {{ analysisService.plcAlgorithmParameters.value[selectedTrackIndex][param] ?? 'null' }}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </p-drawer>
}
