<div class="flex-column gap-6">
  <div class="flex gap-4">
    <p-select
      [options]="sampleMaskNames"
      optionLabel="label"
      optionValue="value"
      [ngModel]="analysisService.selectedSampleMaskIndex.value"
      (ngModelChange)="analysisService.selectedSampleMaskIndex.next($event)"
    ></p-select>
    <p-toggle-button
      [(ngModel)]="zoomLensSelectedChannel"
      offLabel="Left"
      onLabel="Right"
      (ngModelChange)="onChannelToggle()"
    ></p-toggle-button>
  </div>

  <div class="bg-surface">
    <p-chart
      [type]="'line'"
      [data]="zoomSegmentData"
      [options]="zoomSegmentOptions"
      [width]="'100%'"
      [height]="'600px'"
    />
  </div>
</div>
