<p-table [value]="runs" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-run>
    <tr>
      <td>{{ run.name }}</td>
      <td>{{ run.name }}</td>
      <td><plc-run-status-badge [runStatus]="run.status"></plc-run-status-badge></td>
      <td>
        <p-button type="button" class="p-button-text" severity="info" (click)="onAnalyse(run)">
          <i class="pi pi-chart-bar"></i>
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
