<p-splitter styleClass="h-64 mb-8" [panelSizes]="[20, 80]">
  <ng-template #panel>
    <div class="flex-col w-full h-full overflow-y-auto">
      <p-multiselect
        [options]="availableModules"
        display="chip"
        styleClass="!h-12 !w-full !sticky !top-0 !z-10"
        appendTo="body"
        [(ngModel)]="modulesSelection"
        optionLabel="name"
        placeholder="Select module"
      >
      </p-multiselect>
      <ng-container *ngIf="modulesSelection.length > 0; else noModulesSelected">
        <p-listbox
          [options]="modulesSelection"
          [(ngModel)]="moduleFocus"
          optionLabel="name"
          class="w-full !min-h-full"
        />
      </ng-container>
    </div>
  </ng-template>
  <ng-template #panel>
    <ng-container *ngIf="modulesSelection.length > 0 && moduleFocus; else noModulesSelected">
      <div class="w-full flex flex-col p-2 overflow-y-scroll">
        <ng-container *ngFor="let param of moduleFocus.settings">
          <div class="w-full flex flex-row">
            <p class="w-36 flex">{{ param.name }}</p>

            <ng-container *ngIf="param.type === 'int'">
              <ng-template [ngTemplateOutlet]="intInput"></ng-template>
            </ng-container>

            <ng-container *ngIf="param.type === 'float'">
              <ng-template [ngTemplateOutlet]="floatInput"></ng-template>
            </ng-container>

            <ng-container *ngIf="param.type === 'bool'">
              <ng-template [ngTemplateOutlet]="boolInput"></ng-template>
            </ng-container>

            <ng-template #intInput>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <p-button icon="pi pi-undo" severity="secondary" (click)="resetDefault(param)" />
                </p-inputgroup-addon>
                <p-inputnumber class="flex-1" [(ngModel)]="param.value" mode="decimal" useGrouping="false" />
              </p-inputgroup>
            </ng-template>

            <ng-template #floatInput>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <p-button icon="pi pi-undo" severity="secondary" (click)="resetDefault(param)" />
                </p-inputgroup-addon>
                <p-inputnumber
                  class="flex-1"
                  [(ngModel)]="param.value"
                  mode="decimal"
                  useGrouping="false"
                  [minFractionDigits]="0"
                  [maxFractionDigits]="5"
                />
              </p-inputgroup>
            </ng-template>

            <ng-template #boolInput>
              <p-checkbox [(ngModel)]="param.value" binary="true"></p-checkbox>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
</p-splitter>

<ng-template #noModulesSelected>
  <div class="pt-10 flex justify-center h-full text-white/50">Select a module</div>
</ng-template>
