<p-splitter styleClass="min-h-48 mb-8" [panelSizes]="[20, 80]">
  <ng-template #panel>
    <div class="flex-col w-full h-full">
      <p-multiselect
        [options]="availableModules"
        display="chip"
        styleClass="!h-12 !w-full "
        appendTo="body"
        [(ngModel)]="modulesSelection"
        optionLabel="name"
        placeholder="Select module"
      >
      </p-multiselect>
      <ng-container *ngIf="modulesSelection.length > 0; else noModulesSelected">
        <p-listbox
          [options]="modulesSelection"
          [(ngModel)]="moduleFocus"
          optionLabel="name"
          class="w-full !min-h-full"
        />
      </ng-container>
      <ng-template #noModulesSelected>
        <div class="pt-10 flex justify-center h-full text-white/50">Select a module</div>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #panel>
    <ng-container *ngIf="modulesSelection.length > 0; else noModulesSelected">
      <ng-container *ngFor="let param of moduleFocus.settings"> {{ param.name }} - {{ param.default }} </ng-container>
    </ng-container>
    <ng-template #noModulesSelected>
      <div class="pt-10 flex justify-center h-full text-white/50">Select a module</div>
    </ng-template>
  </ng-template>
</p-splitter>
{{ modulesSelection | json }}
{{ modulesSelection }}
